astroid==2.2.5
attrs==19.1.0
aws-cdk.assets==1.10.0
aws-cdk.aws-cloudwatch==1.10.0
aws-cdk.aws-ec2==1.10.0
aws-cdk.aws-events==1.10.0
aws-cdk.aws-iam==1.10.0
aws-cdk.aws-kms==1.10.0
aws-cdk.aws-lambda==1.10.0
aws-cdk.aws-logs==1.10.0
aws-cdk.aws-rds==1.10.0
aws-cdk.aws-s3==1.10.0
aws-cdk.aws-s3-assets==1.10.0
aws-cdk.aws-sam==1.10.0
aws-cdk.aws-secretsmanager==1.10.0
aws-cdk.aws-sqs==1.10.0
aws-cdk.aws-ssm==1.10.0
aws-cdk.core==1.10.0
aws-cdk.cx-api==1.10.0
aws-cdk.region-info==1.10.0
cattrs==0.9.0
isort==4.3.21
jsii==0.17.1
lazy-object-proxy==1.4.2
mccabe==0.6.1
pep8==1.7.1
publication==0.0.3
pylint==2.3.1
python-dateutil==2.8.0
six==1.12.0
typed-ast==1.4.0
typing-extensions==3.7.4
virtualenv==16.7.4
wrapt==1.11.2
